.demoContainer:hover {
    background-color: rgba(255, 255, 255, 0.09);
    cursor: pointer;
}

.demoContainer:hover .demoButton {
    display: block !important;
}

.demoContainer:hover .iconButton {
    background-color: rgba(255, 255, 255, 0.05);
}

.demoButton {
    display: none !important;
}